*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
   font-family: Arial, sans-serif;
   background-color: #c1c1c1;
   color: #2b2b2b;
}

header, footer {
   background-color: #3a3a3a;
   color: #eaeaea;
   padding: 20px 0;
}

h1, h2, p {
   text-align: center;
}

h1 {
   color: #ff1645;
}

h2 {
   margin-bottom: 20px;
}

nav {
   background-color: #4a4a4a;
   color: #ffffff !important;
   padding: 10px 0;
   transition: top 0.3s;
}

.sticky {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
}

nav a {
   color: #ffffff !important;
   text-decoration: none;
   padding: 10px 15px;
   display: inline-block;
}

nav a:hover {
   color: #ffffff !important;
   background-color: #5a5a5a;
   border-radius: 5px;
}

.navbar-toggler {
   border-color: #eaeaea;
}

.navbar-toggler-icon {
   filter: invert(1);
}

section {
   scroll-margin-top: 80px;
   padding: 50px 0;
   background-color: #d3d3d3;
   border-radius: 10px;
}

.btn-primary {
   background-color: #dc143c;
   border: none;
}

.btn-primary:hover {
   background-color: #ff1645;
}

.text-end {
   margin-top: 30px;
   margin-right: 20px;
}

footer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 10px 0;
   margin: 0;
}

.accordion {
   background: transparent;
   border-radius: 10px;
   max-width: 90%;
   margin: 0 auto;
}

.accordion-item {
   background-color: #111;
   border: 1px solid #444;
   border-radius: 8px;
   margin-bottom: 10px;
   overflow: hidden;
}

.accordion-header {
   background-color: #222;
   color: #ddd;
}

.accordion-button {
   background-color: #222;
   color: #ddd;
   font-weight: bold;
   border: none;
   outline: none;
   padding: 15px;
   text-align: left;
}

.accordion-button:hover {
   background-color: #333;
   color: #fff;
}

.accordion-button:focus {
   box-shadow: none;
}

.accordion-collapse {
   background-color: #181818;
}

.accordion-body {
   padding: 15px;
   color: #dadada;
   background-color: #181818;
   border-top: 1px solid #444;
}

.accordion-button::after {
   filter: invert(1);
}

.accordion-button:not(.collapsed) {
   background-color: #333;
   color: #fff;
}

.card {
   border-radius: 12px;
   overflow: hidden;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   color: #dadada;
   background-color: #181818;
}

.card:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
   width: 100%;
   height: 180px;
   object-fit: cover;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
}

.card-body {
   text-align: center;
   padding: 20px;
}

.card-title {
   font-weight: bold;
   font-size: 1.4rem;
}

ul {
   list-style: none;
   padding: 0;
}

ul li {
   text-align: left;
   margin-bottom: 5px;
}

.is-invalid {
   border-color: #ff1645;
}
